@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-accent-default: oklch(62.7% 0.194 149.214);
  --color-accent-hover: oklch(52.7% 0.154 150.069);
  --color-accent-focus: oklch(72.3% 0.219 149.579);

  --color-background-primary: #fff;
  --color-background-secondary: oklch(92% 0.004 286.32);
  --color-background-tertiary: oklch(72.3% 0.219 149.579);

  --dark-color-background-primary: oklch(21% 0.006 285.885);
  --dark-color-background-secondary: #000;
  --dark-color-background-tertiary: oklch(27.4% 0.006 286.033);

  --color-border: D4D4D4;
  --dark-color-border: 555555;

  --color-text-primary: #fff;
  --color-text-secondary: oklch(72.3% 0.219 149.579);

}
@layer components {
  .bg-primary {
    @apply dark:bg-[var(--dark-color-background-primary)] bg-[var(--color-background-primary)];
  }

   .bg-secondary {
    @apply dark:bg-[var(--dark-color-background-secondary)] bg-[var(--color-background-secondary)];
  }

  .title {
    @apply md:text-2xl text-xl text-white;
  }

  .bg-gradient{
     @apply bg-gradient-to-r from-green-600 to-blue-300
  }
  
  .container-custom{
     @apply container mx-auto p-4 lg:px-14;
  }

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}